//引入清楚默认样式
@import "./reset.scss";

//滚动条外观设置
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  //background: $base-menu-background;
}
::-webkit-scrollbar-thumb{

}

.m-1 {
  margin: 10px;
}

.m-4 {
  margin: 40px;
}

.m-x-1{
  margin: 0 10px !important;
}

.m-y-1{
  margin: 10px 0 !important;
}

.m-y-2{
  margin: 20px 0 !important;
}

.m-t-1{
  margin-top: 10px !important;
}

.m-t-2{
  margin-top: 20px !important;
}

.m-b-1{
  margin-bottom: 10px !important;
}

.m-b-2{
  margin-bottom: 20px !important;
}

.p-x-2{
  padding: 0 20px !important;
}

.align-center{
  text-align: center;
}

.space-evenly{
  justify-content: space-evenly;
}

.color-white{
  color: white;
}