.m-1 {
  margin: 10px;
}
.m-4 {
  margin: 40px;
}

.m-x-1{
  margin: 0 10px !important;
}

.m-y-2{
  margin: 20px 0 !important;
}

.m-t-2{
  margin-top: 20px !important;
}

.m-b-1{
  margin-bottom: 10px !important;
}

.m-b-2{
  margin-bottom: 20px !important;
}

.p-x-2{
  padding: 0 20px !important;
}

.p-b-1{
	padding-bottom: 10px;
}

.p-1{
	padding: 10px;
}

.flex{
	display: flex;
}

.flex-direction-row{
	flex-direction: row;
}
.flex-direction-column{
	flex-direction: column;
}

.flex-justify-content-start{
	justify-content: flex-start;
}

.flex-justify-content-end{
	justify-content: flex-end;
}

.flex-align-items-center{
	align-items: center;
}